@charset "UTF-8";

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'GmarketSansMedium', sans-serif;
    }
    
    @font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
    
    @font-face {
	   font-family: 'Ownglyph_wiseelist-Rg';
	   src:
	      url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/Ownglyph_wiseelist-Rg.woff2')
	      format('woff2');
	   font-weight: normal;
	   font-style: normal;
	}
    
    /* 상단 네비게이션 바 */
    .nav {
    	width: 100%;
        margin: 0 auto;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 80px;
        position: relative;
    }
    
    .logo {
        font-size: 2.5rem;
        font-weight: bold;
        color: rgb(255, 71, 82);
        cursor: pointer;
        font-family: 'Ownglyph_wiseelist-Rg';
    }
    
    .login_info {
    	font-size: 0.9rem;
        font-weight:500;
        margin-right: 20px;
    }

 
    .login_menus {
        font-size: 0.7rem;
        font-weight:400;
        cursor: pointer;
        margin-right: 18px;
        border: 0.5px solid lightgray;
        border-radius: 10px;
        padding: 12px;
    }
    
    .category {
        font-size: 1rem;
        cursor: pointer;
    }
    
    /* 카테고리 */
	.category-menu {
	    display: none; 
	    position: absolute;
	    top: 85px;
	    right: 0;
	    width: 15%;
	    height: 400px;
	    background: black;
	    opacity: 0.6;
	    transition: transform 0.3s ease-in-out;
	    z-index: 1000;
	}
	
	.category-menu.active {
	    display: flex;
	}
	
	.menu-content {
	    padding: 20px;
	    text-align: center;
	}
	
	.menu-list {
	    padding: 50px 30px;
	}
	
	.menu-list ul {
	    list-style: none;
	    padding: 0;
	}
	
	.menu-list li {
	    margin: 50px 0;
	    cursor: pointer;
	    text-decoration: none;
	    transition: color 0.3s ease;
	}
	
	.menu-list a {
	    color: white;
	    text-decoration: none;
	    font-size: 0.8rem;
	}
	
	.menu-list a:hover {
	    color:  rgb(255, 71, 82);
	}


    /* body */
	.body_img {
	    width: 100%;
	    height: 300px;
	    border: none;
	    position: relative;
	}
	
	.background-image {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    opacity: 0.7;
	}
	
	.body_overlay {
	    position: absolute;
	    inset: 0;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    color: white;
	}
	
	.title {
	    font-size: 24px;
	    font-weight: bold;
	    margin-bottom: 16px;
	    text-align: left;
	    width: 95%; 
	    max-width: 800px;
	}
	
	.search-box {
	    background: white;
	    padding: 16px;
	    border-radius: 8px;
	    display: flex;
	    gap: 8px;
	    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	    width: 95%;
	    max-width: 800px;
	}
	
	.binput {
	    flex: 1;
	    padding: 8px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	}
	
	.body_search-button {
	    background: #3b82f6;
	    color: white;
	    padding: 8px 16px;
	    border:none;
	    border-radius: 4px;
	    cursor: pointer;
	}

	
	 .grid {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    
    .grid .card {
    	height: 220px;
        flex: 1;
        background: #f9f9f9;
        border-radius: 8px;
        cursor: pointer;
        transition: transform 0.3s ease;
	}
	
	.hot {
		display: flex;
		flex-wrap: wrap;
	}
	
	.hot_l {
	    width: 55%;
	    height: 100%;
	    padding: 20px;
	    margin: auto 0;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    text-align: center; 
	    font-size: 1.5rem; 
	    font-weight: bold; 
	}
	
	.hashtags {
	    font-size: 0.8rem;
	    font-weight: 400;
	    color: gray;
	    margin-bottom: 5px;
	}
	
	.hot_r {
	    width: 45%;
	    height: 100%;
	    padding: 20px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	
	.hot_r img {
	    object-fit: cover;
	    border-radius: 50%; 
	    opacity: inherit;
	}

	
	.grid .event {
    	height: 150px;
	}
	
	.grid .card img{
    	width: 100%;
	    height: 100%;
    	object-fit: cover;
	}
	
    .body {
	    width: 85%;
	    margin: 50px auto;
	    margin-top: 70px;
	    text-align: center;
	    overflow: hidden;
	}

	.section-title {
	    text-align: left;
	    font-size: 1rem;
	    font-weight: bold;
	    margin-bottom: 20px;
	    color: #333;
	}
	
	.slide-body {
	    position: relative;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	
	.fa-less-than, .fa-greater-than {
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    color: gray;
	    font-size: 1.1rem;
	    font-weight:bold;
	    cursor: pointer;
	    z-index: 10;
	}
	
	.fa-less-than { left: 5px; }
	.fa-greater-than { right: 5px; }
	
	.fa-less-than:hover, .fa-greater-than:hover {
	    color: rgb(255, 71, 82);
	}
	
	.slide-container {
	    width: 100%; 
	    overflow: hidden;
	}
	
	.slide {
	    display: flex;
	    transition: transform 0.5s ease-in-out;
	}
	
	.slide .card {
	    width: 170px;
	    height: 250px;
	    border-radius: 8px;
	    font-size: 18px;
	    font-weight: bold;
	    margin-left: 10px;
	    margin-right: 10px;
	    flex-shrink: 0;
	}


    .card:hover {
        transform: translateY(-5px);
    }
    
    .card-img {
    	width: 95%;
	    height: 70%;
	    margin: 20px auto;
	    overflow: hidden;
	    border: none;
	    border-radius: 8px;
    }
    
     .card-img img{
	    width: 100%;
	    height: 100%;
    	object-fit: cover;
    	
    }
    
    .card-content {
    	width: 100%;
    	height: 10%;
    	text-align: left;
    	margin: 10px;
    	font-size: 0.8rem;
    	font-weight: 300;
    }

    /* footer */
    .footer {
        background: #f9f9f9;
        color: #333;
        font-size: 0.7rem;
	    line-height: 1rem;
	    letter-spacing: 0px;
	    font-weight: 400;
	    color: rgb(153 153 153);
        text-align: left;
        padding: 80px;
    }