<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="subMain_mapper">

	
	<select id="findPlacesList" resultType="Places">
		SELECT * FROM PLACES
	</select>
	
	<select id="findCategoriesList" resultType="Categories">
		SELECT * FROM CATEGORIES
	</select>
	
	<select id="findPlacesByCategoriesId" resultType="Places" parameterType="java.util.List">
		SELECT *
		FROM PLACES P
		WHERE P.category_id IN
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
</mapper>






