<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="subMain_mapper">

	
	<select id="findPlacesList" resultType="Places">
		SELECT * FROM PLACES
	</select>
	
	
	<select id="findCategoriesList" resultType="Categories">
		SELECT * FROM CATEGORIES
	</select>
	
	<select id="findAreasList" resultType="Areas">
		SELECT * FROM Areas
	</select>
	
    
    <select id="findPlacesWithFilters" resultType="Places" parameterType="java.util.Map">
        SELECT p.*, 
           (SELECT pi.image_url FROM PLACES_IMG pi WHERE pi.id = p.id AND pi.no = 1) AS imageUrl
   			FROM PLACES p
        <where>
            <if test="categoriesId != null">
                AND category_id = #{categoriesId}
            </if>
            
            <if test="areasId != null">
                AND area_id = #{areasId}
            </if>
        </where>
        ORDER BY id
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    
    <select id="getTotalPlacesWithFilters" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(*)
        FROM PLACES
        <where>
            <if test="categoriesId != null">
                category_id = #{categoriesId}
            </if>
        </where>
    </select>
</mapper>