<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detail_mapper">

    <!-- 관광지 상세 정보 조회 -->
    <select id="getPlaceDetail" resultType="Places" parameterType="int">
        SELECT id, name, description, address, category_id
        FROM PLACES
        WHERE id = #{id}
    </select>

    <!-- 관광지 대표 이미지 조회 (no = 2) -->
    <select id="getMainImageUrl" resultType="string" parameterType="int">
        SELECT image_url
        FROM PLACES_IMG
        WHERE id = #{id} AND no = 2
    </select>
    
      <!-- 관광지 서브 이미지 목록 조회 (no >= 3) -->
    <select id="getSubImageUrls" resultType="string" parameterType="int">
        SELECT image_url
        FROM PLACES_IMG
        WHERE id = #{id} AND no >= 3
    </select>
    
	<!-- id로 TravelLogList 불러오기 -->
	<select id="findTravelLogListById" resultType="TravelLog">
        SELECT *
        FROM TRAVEL_LOGS
        WHERE place_id = #{id}
    </select>
    
<!--     id로 TravelLog 하나 불러오기 -->
<!--     <select id="findTravelLogById" resultType="TravelLog" parameterType="int"> -->
<!-- 		SELECT * -->
<!--         FROM TRAVEL_LOGS -->
<!--         WHERE id = #{id}	 -->
<!-- 	</select> -->
        
	<!-- TravelLog 저장 -->
	<insert id="saveTravelLog" parameterType="TravelLog">
	    INSERT INTO TRAVEL_LOGS (id, user_id, place_id, title, content, created_at, file_name)
	    VALUES (SEQ_TRAVEL_LOGS_PK.NEXTVAL, #{userId}, #{placeId}, #{title}, #{content}, SYSDATE, #{fileName})
	</insert>

 	<!-- TravelLogImg 저장  -->
<!-- 	<insert id="saveTravelLogImg" parameterType="TravelLogImg"> -->
<!-- 		INSERT INTO TRAVEL_LOG_IMG -->
<!-- 		VALUES ( -->
<!-- 			#{id}, -->
<!-- 			#{fileName} -->
<!-- 		) -->
<!-- 	</insert> -->
	
 	<!-- id로 TravelLogImg 불러오기  --> 
<!-- 	<select id="findTravelLogImgById" parameterType="int" resultType="TravelLogImg"> -->
		
<!-- 		SELECT *  -->
<!-- 		FROM TRAVEL_LOG_IMG -->
<!-- 		WHERE id = #{id} -->
		
<!-- 	</select> -->

</mapper>