<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user_mapper">

	<insert id="saveUser" parameterType="User">
		insert into USERS
		values (
		SEQ_users_PK.NEXTVAL,
		#{id},
		#{username},
		#{password},
		#{tel}
		)
	</insert>

	<select id="findUserList" resultType="User">
		select * from USERS
	</select>

	<select id="findUserById" resultType="User"
		parameterType="String">
		select *
		FROM USERS
		WHERE id = #{id}
	</select>

	<select id="checkUserLogin" resultType="User"
		parameterType="User">
		select *
		from USERS
		where id = #{id} AND password =
		#{password}
	</select>

	<update id="modifyUser" parameterType="User">
		UPDATE USERS
		SET password =
		#{password}
		WHERE id = #{id}
	</update>

	<delete id="removeUser" parameterType="User">
		DELETE FROM USERS
		WHERE id = #{id} AND password = #{password}
	</delete>

</mapper>